<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>YS.TTF</string>
		<string>QuicksandObliqueLight.otf</string>
		<string>QuicksandLight.otf</string>
		<string>QuicksandRegular.otf</string>
		<string>QuicksandObliqueRegular.otf</string>
	</array>
</dict>
</plist>
